@using StudentMoodle.Models
@model (Test, List<Tasks>, List<Answer>, UserView)

@{
    var model1 = Model.Item1;
    var model2 = Model.Item2;
    var model3 = Model.Item3;
    var model4 = Model.Item4;
}

<div class="text-center">
    <h1 class="display-4">
        <h3>@model1.Title</h3>
    </h1>
</div>

<div>
    <form asp-action="CheakTest">
        <input type="hidden" name="idtest" value="@model1.Id" />
        <input type="hidden" name="iduser" value="@model4.Id" />
        @foreach (var item1 in model2)
    {
        @Html.DisplayFor(modelItem => item1.Title) <br />
        @foreach (var item2 in model3)
        {
            @if (item2.idTask == item1.Id)
            {
                @Html.RadioButton($"{item1.Title}", $"{item2.isRight}")
                <span>@Html.DisplayFor(modelItem => item2.Title)</span> <br />
            }
        }
    }
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-primary" />
    </div>
    </form>
    
</div>
