@using StudentMoodle.Models
@model (List<LabWork>, UserView)

@{
    var model1 = Model.Item1;
    var model2 = Model.Item2;
}


<div class="text-center">
    <h1 class="display-4">
        <h3>Дисциплина ММГО</h3>
    </h1>


        <p>
            Создать тест: <input type="button" value="Index"
                                 onclick="location.href='@Url.Action("CreateTest", "Discipline")'" />
            Создать лабораторную работу: <input type="button" value="Index"
                                 onclick="location.href='@Url.Action("CreateLabWork", "Discipline")'" />
            Список дисциплин: <input type="button" value="Index"
                                 onclick="location.href='@Url.Action("Index", "Discipline")'" />
        </p>
    
        <div>
        <table class="table">
            @foreach (var item in model1)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                        @if (model2.RoleId != 1) {
                            <input type="button" value="Edit"
                                onclick="location.href='@Url.Action($"LabWorkEdit", "Discipline", item)'" />
                        }
                            <input type="button" value="Details"
                                onclick="location.href='@Url.Action($"LabWorkDetails", "Discipline", item)'" />
                        @if (model2.RoleId != 1) {
                            <input type="button" value="Delete"
                                onclick="location.href='@Url.Action($"LabWorkDelete", "Discipline", item)'" />
                        }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>


</div>