@using StudentMoodle.Models
@model (List<LabWork>, UserView, Discipline, List<Test>)

@{
    var model1 = Model.Item1;
    var model2 = Model.Item2;
    var model3 = Model.Item3;
    var model4 = Model.Item4;
}


<div class="text-center">
    <h1 class="display-4">
        <h3>Дисциплина @model3.Title</h3>
    </h1>

        @if (model2.RoleId == 2)
        {
            <p>
                Создать тест: <input type="button" value="Создать"
                             onclick="location.href='@Url.Action("CreateTest", "Discipline", new {dkey = model3.Id})'" />
                Создать лабораторную работу: <input type="button" value="Создать"
                             onclick="location.href='@Url.Action("CreateLabWork", "Discipline", new {dkey = model3.Id})'" />
            </p>
            <p>
                Подключить группу к дисциплине: <input type="button" value="Открыть"
                             onclick="location.href='@Url.Action("ConGroupIndex", "Discipline", new {id = model3.Id})'" />
                Отключить группу от дисциплины: <input type="button" value="Открыть"
                             onclick="location.href='@Url.Action("DisconGroupIndex", "Discipline", new {id = model3.Id})'" />
            </p>
        }
        <p>
            Список дисциплин: <input type="button" value="Открыть" 
                    onclick="location.href='@Url.Action("Index", "Discipline")'" />
        </p>

        <div>
        <table class="table">
            <h4>Лабы</h4>
            @foreach (var item in model1)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                        @if (model2.RoleId != 1) {
                            <input type="button" value="Редактировать"
                                onclick="location.href='@Url.Action($"LabWorkEdit", "Discipline", new {id = item.Id})'" />
                        }
                            <input type="button" value="Подробнее"
                                onclick="location.href='@Url.Action($"LabWorkDetails", "Discipline", item)'" />
                        @if (model2.RoleId != 1) {
                            <input type="button" value="Удалить"
                                onclick="location.href='@Url.Action($"LabWorkDelete", "Discipline", new {id = item.Id})'" />
                        }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>

        <div>
        <table class="table">
            <h4>Тесты</h4>
            @foreach (var item in model4)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                        @if (model2.RoleId != 1) {
                            <input type="button" value="Редактировать"
                                onclick="location.href='@Url.Action($"TestEdit", "Discipline", new {id = item.Id})'" />
                        }
                        <input type="button" value="Подробнее"
                                onclick="location.href='@Url.Action($"TestDetails", "Discipline", item)'" />
                        @if (model2.RoleId != 1) {
                            <input type="button" value="Удалить"
                                onclick="location.href='@Url.Action($"TestDelete", "Discipline", new {id = item.Id})'" />
                        }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
</div>