@model (LabWork, FileModel)

@{
    var model1 = Model.Item1;
    var model2 = Model.Item2;
}

<h1>Информация о лабораторной работе</h1>

<table class="table">
    <tbody>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model1.Title)
            </td>
            <td>
                @Html.DisplayFor(model => model1.Title)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model1.DeadLine)
            </td>
            <td>
                @Html.DisplayFor(model => model1.DeadLine)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model1.status)
            </td>
            <td>
                @Html.DisplayFor(model => model1.status)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model1.Manual)
            </td>
            <td>
                <a href="@Html.DisplayFor(model => model1.Manual)">@Html.DisplayFor(model => model1.Manual)</a>
            </td>
        </tr>
        <tr>
            <td>
                Ответ в виде файла
            </td>
            @if(model2.Id != 0)
            {
            <td>
                <p>
                    <a href="@model2.Path" download="@model2.Path">@model2.Name</a>
                    <input type="button" value="Загрузить другой файл"
                           onclick="location.href='@Url.Action("AddFile", "Discipline", model1)'" />
                </p>
            </td>
            }
            @if(model2.Id == 0)
            {
            <td>
                <p>
                    <input type="button" value="Загрузить файл"
                           onclick="location.href='@Url.Action("AddFile", "Discipline", model1)'" />
                </p>
            </td>
            }
        </tr>
    </tbody>
</table>

<div>
    <input type="button" value="Назад к дисциплине"
           onclick="location.href='@Url.Action("IndexDiscipline", "Discipline", new {id = model1.IdDiscipline})'" />
</div>