@model (LabWork, List<UserView>, List<FileModel>, List<LabWorkandStudent>, Group)

@{
    var model1 = Model.Item1;
    var model2 = Model.Item2;
    var model3 = Model.Item3;
    var model4 = Model.Item4;
    var model5 = Model.Item5;
}

<h1>Сданные лабораторные работы</h1>
<form asp-action="ResultOfLabWorkByGroup">
    <input type="hidden" name="idlabwork" value="@model1.Id" />
    <p>
        <br /><label>Выбирете группу:</label><br />
        @Html.DropDownList(
        "group",
        new SelectList(ViewBag.Group),
        "Все",
        new { @class = "dropdown" }
        )
        <input type="submit" value="Выбрать" сlass="w-80 btn btn-lg btn-primary" />
    </p>
</form>
@if (model5.Id != 0)
{
    <h4>Студенты группы @model5.speciality</h4>
}
else
{
    <h4>Студенты всех групп</h4>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Имя студента
            </th>
            <th>
                Ответ в виде файла
            </th>
            <th>
                Дата загрузки
            </th>
            <th>
                Оценка
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in model2) 
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fullName)
            </td>
            <td>
                <a href="@model3.First(m => m.IdStudent == item.Id).Path" download="@model3.First(m => m.IdStudent == item.Id).Path">@model3.First(m => m.IdStudent == item.Id).Name</a>
            </td>
            @foreach(var item1 in model4)
            {
                    @if (item1.idstudent == item.Id && item1.idlabwork == model1.Id)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item1.passDate)
                        </td>
                    }
                
                    <form asp-action="ScoreLabWork" asp-controller="Discipline" method="post">
                        <input type="hidden" name="idlabwork" value="@model1.Id" />
                        <input type="hidden" name="iduser" value="@item.Id" />
                        <input type="hidden" name="iddiscipline" value="@model1.IdDiscipline" />
                        
                        @if(item1.idstudent == item.Id && item1.idlabwork == model1.Id)
                        {
                            <td>
                                <input type="text" name="score" value="@item1.score" />
                            </td>
                            <td>
                                <input type="submit" value="Оценить" />
                            </td>
                        }
                        
                    </form>
            }
        </tr>
}
    </tbody>
</table>
