@{
    ViewData["Title"] = "StudentView";
}
<body>
    <table>
        <tr>
            <th>Id</th>
            <th>fullName</th>
            <th>Login</th>
            <th>Password</th>
            <th>Email</th>
            <th>Birthdate</th>
        </tr>
        @foreach(var student in ViewBag.Students)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.fullName</td>
                <td>@student.Login</td>
                <td>@student.Password</td>
                <td>@student.Email</td>
                <td>@student.Birthdate</td>
                <td>Edit | Delete</td>
            </tr>
        }
    </table>
</body>
