@model IEnumerable<Microservice.Models.Student>
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <input type="button" value="Create"
                       onclick="location.href='@Url.Action("Create", "Students")'" />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                    @*<a asp-controller="Students" asp-action="Edit">Create New</a>
                    <a asp-area="" asp-controller="Students" asp-action="Details">Create New</a>
                    <a asp-area="" asp-controller="Students" asp-action="Delete">Create New</a>*@

                    @*@Html.ActionLink("Edit", "Edit", "Students", new { Id = item.Id }) |
                    @Html.ActionLink("Details", "Details", "Students", new { Id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", "Students", new { Id = item.Id })*@

                @*<a asp-controller="Students" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="Students" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="Students" asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                    @*<a href="/Students/Edit/@item.Id">Edit</a>
                    <a href="/Students/Details/@item.Id">Edit</a>
                    <a href="/Students/Delete/@item.Id">Edit</a>*@
                    <input type="button" value="Edit"
                       onclick="location.href='@Url.Action("Edit", "Students", new {id = item.Id})'" />
                    <input type="button" value="Details"
                       onclick="location.href='@Url.Action("Details", "Students", new {id = item.Id})'" />
                    <input type="button" value="Delete"
                       onclick="location.href='@Url.Action("Delete", "Students", new {id = item.Id})'" />

            </td>
        </tr>
}
    </tbody>
</table>
