@using StudentMoodle.Models
@model (UserView, List<Discipline>)

@{
    ViewData["Title"] = "Home Page";
}
@{
    var model = Model.Item1;
    var model2 = Model.Item2;
}

<div class="text-center">
        @if (model.RoleId == 1)
        {
            <h3>Вы выполнили вход под учётной записью студента</h3>
            <h5>@Html.DisplayFor(x => model.fullName)</h5>
            @Html.ActionLink("Список дисциплин", "Index", "Discipline")
        }

        @if (model.RoleId == 2)
        {
            <h3>Вы выполнили вход под учётной записью лектора</h3>
            <h5>@Html.DisplayFor(x => model.fullName)</h5><br />

            <p>
                
                @Html.ActionLink("Список дисциплин", "Index", "Discipline")
                @*Список дисциплин: <input type="button" value="Index"
                   onclick="location.href='@Url.Action("Index", "Discipline")'" />*@
            </p>
        }

        @if (model.RoleId == 3)
        {
            <h3>Вы выполнили вход под учётной записью администратора</h3>
            <h5>@Html.DisplayFor(x => model.fullName)</h5><br />

            <p>Список пользователей: <input type="button" value="Открыть"
                    onclick="location.href='@Url.Action("Index", "User")'" />
            </p>
            <p>Список студентов: <input type="button" value="Открыть"
                    onclick="location.href='@Url.Action("IndexStudent", "User")'" />
            </p>
            <p>Список лекторов: <input type="button" value="Открыть"
                    onclick="location.href='@Url.Action("IndexLector", "User")'" />
            </p>
            <p>Список групп: <input type="button" value="Открыть"
                    onclick="location.href='@Url.Action("GroupIndex", "User")'" />
            </p>
        }
</div>
