@using StudentMoodle.Models
@model (UserView, List<Discipline>)

@{
    ViewData["Title"] = "Home Page";
}
@{
    var model = Model.Item1;
    var model2 = Model.Item2;
}

<div class="text-center">
    <h1 class="display-4">
        @if (model.RoleId == 1)
        {
            <h3>Вы выполнили вход под учётной записью студента</h3>
            <h5>@Html.DisplayFor(x => model.fullName)</h5>
        }

        @if (model.RoleId == 2)
        {
            <h3>Вы выполнили вход под учётной записью лектора</h3>
            <h5>@Html.DisplayFor(x => model.fullName)</h5><br />

            <p>
                Список дисциплин: <input type="button" value="Index"
                   onclick="location.href='@Url.Action("Index", "Discipline")'" />
            </p>
        }

        @if (model.RoleId == 3)
        {
            <h3>Вы выполнили вход под учётной записью администратора</h3>
            <h5>@Html.DisplayFor(x => model.fullName)</h5><br />

           <p>Список пользователей: <input type="button" value="Index"
                onclick="location.href='@Url.Action("Index", "User")'" />
           </p>
           <p>Список студентов: <input type="button" value="Index"
                onclick="location.href='@Url.Action("IndexStudent", "User")'" />
            </p>
           <p>Список лекторов: <input type="button" value="Index"
                onclick="location.href='@Url.Action("IndexLector", "User")'" />
            </p>
        }
    </h1>
    @if (model.RoleId == 1 || model.RoleId == 2)
    {
        <div>
            <h2>Список доступных дисциплин</h2>
            <table class="table">
                @foreach (var item in model2)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                            <input type="button" value="Index"
                           onclick="location.href='@Url.Action($"Index{item.Title}", "Discipline")'" />
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
</div>
