@model Test


<h1>Информация о тесте</h1>

<table class="table">
    <tbody>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Title)
            </td>
            <td>
                @Html.DisplayFor(model => model.Title)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.DeadLine)
            </td>
            <td>
                @Html.DisplayFor(model => model.DeadLine)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.status)
            </td>
            <td>
                @Html.DisplayFor(model => model.status)
            </td>
        </tr>
        <tr>
            <td>
                Начать прохождение
            </td>
            <td>
                <input type="button" value="Пройти тест"
                       onclick="location.href='@Url.Action("Index", "Test", Model)'" />
            </td>
        </tr>
    </tbody>
</table>

<div>
    <input type="button" value="Назад к дисциплине"
           onclick="location.href='@Url.Action("IndexDiscipline", "Discipline", new {id = Model.IdDiscipline})'" />
</div>

