@model (Test, UserView, TestandStudent)

@{
    var model1 = Model.Item1;
    var model2 = Model.Item2;
    var model3 = Model.Item3;
}

<h1>Информация о тесте</h1>

<table class="table">
    <tbody>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model1.Title)
            </td>
            <td>
                @Html.DisplayFor(model => model1.Title)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model1.DeadLine)
            </td>
            <td>
                @Html.DisplayFor(model => model1.DeadLine)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model1.status)
            </td>
            <td>
                @Html.DisplayFor(model => model1.status)
            </td>
        </tr>
        <tr>
            @if (model2.RoleId == 1)
            {
                @if (model3.idtest == 0)
                {
                    <td>
                        Начать прохождение
                    </td>
                    <td>
                        <input type="button" value="Пройти тест" 
                            onclick="location.href='@Url.Action("Index", "Test", model1)'" />
                    </td>
                }
                else
                {
                    <td>
                        Колличество баллов:
                    </td>
                    <td>
                        @Html.DisplayFor(model => model3.score)
                    </td>
                    <td>
                        Время сдачи <br/>
                        @Html.DisplayFor(model => model3.passDate)
                    </td>
                }
                
            }
            @if (model2.RoleId == 2)
            {
                <td>
                    Опции
                </td>
                <td>
                    <input type="button" value="Редактировать тест"
                       onclick="location.href='@Url.Action("TasksIndex", "Test", model1)'" />
                </td>
                <td>
                    <input type="button" value="Студенты прошедшие тест"
                       onclick="location.href='@Url.Action("PassedStudent", "Test", new { idtest = model1.Id})'" />
                </td>
            }
        </tr>
    </tbody>
</table>

<div>
    <input type="button" value="Назад к дисциплине"
           onclick="location.href='@Url.Action("IndexDiscipline", "Discipline", new {id = model1.IdDiscipline})'" />
</div>

